<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">producto.nombre</div>
  <div class="panel-body">
  <div class="imagen">

    <%= image_tag producto.imagenproducto.url%>
    producto.detalle
  </div>
  </div>
  </div>
</div>
