<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-success">
    <div class="panel-heading">producto.nombre</div>
    <div class="panel-body">
    <div class="imagen">
      <%= image_tag producto.imagenproducto.url%>
      producto.detalle
    </div>
    </div>
    </div>
  </div>
</div>
