
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<h1>Tienda On Line</h1>
</div>
<div class="col-md-4">
</div>
</div>
<br>
<% @productos.each do |producto| %>
      
	    
       <%= render 'producto', producto: producto%>
<%end %>