<h1>Editing Producto</h1>
<div class="container">
  <h2>Lista de Productos</h2>


<table class="table table-striped table-hover ">
<%= render 'form' %>

<%= link_to 'Show', @producto %> |
<%= link_to 'Back', productos_path %>
</table>
</div>