<div class="row">
<div class="col-md-5">
</div>
  <div class="col-md-2">
		<h2>Nuevo Producto</h2>
 	</div>
 	<div class="col-md-5">
</div>
 </div>

<%= render 'form' %>

<%= link_to 'Atras', productos_path %>
