<div class="row">
  	<div class="col-md-4">
		<h2>Nuevo Producto</h2>
 	</div>
  	<div class="col-md-4">
 	</div>
 	<div class="col-md-4">
   		<%= link_to 'Atras', productos_path, :class => 'btn btn-primary', :class=>'glyphicon glyphicon-hand-left' %>      
	</div>
</div>

<%= render 'form' %>
           


